[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
Flask = "*"
Flask-Cors = "*"
pylint = "*"
requests = "*"
pytest = "*"
pydocstyle = "*"
psycopg2 = "~=2.7.5"
flask-socketio = "*"
eventlet = "*"
flask_sqlalchemy = "*"
pydash = "*"
pyOpenSSL = "*"
python-dotenv = "*"
Flask-Migrate = "*"
flask_jwt_extended = "*"
authlib = "*"


[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"

[scripts]
tests="python -m pytest"
db-init="python -m flask db init"
stamp-head="python -m flask db stamp head"
migrate="python -m flask db migrate"
upgrade="python -m flask db upgrade"
flask-dev="gunicorn app:app --worker-class eventlet -w 1 --bind 0.0.0.0:5000 --reload --log-level DEBUG"
